#nav-bar{
    position: fixed;
    top: 0;
    }
    
    #header{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    
    @media (max-width: 600px){
        #nav-bar{
            display: none;
        }
    }